@CHARSET "ISO-8859-1";

body {
	background: #DDDDDD;
	color: #000000;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	margin: 0px; padding:0px;
	text-align:center;
}

h2 {
	padding-top: 1em;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 24pt;
}

a {
	text-decoration: none;
	color: #476BB2;
	font-family: 'Oswald', sans-serif;
}

a:hover {
	text-decoration: underline;
	color: #008A2E;
}

a:clicked {
	color: #476BB2;
}

input[type="text"], input[type="password"], input[type="checkbox"], input[type="email"], textarea {
	background-color: #EDEDED;
	width: 150px;
	padding: 1px;
}

.label {
	text-align: right;
	font-size: 10pt;
}

.buttons {
	text-align: center;
	co
}

.header {
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	float:left;
	width: 100%;
}

.userControl {
	text-align: left;
	font-family: 'Oswald', sans-serif;
	font-size: 10pt;
	float: right;
	padding-top: 15px;
}

.contentWrapper {
	width: 700px;
	margin:0px auto;
	text-align:left;
}

.appName {
	float: left;
	text-align: left;
	font-family: 'Oswald', sans-serif;
	font-size: 24pt;
	color: black;
}

.appName a {
	text-decoration: none;
	color:black;
}

.appName a:hover {
	text-decoration: none;
	color: black;
}

.links {
	width: 100%;	
	float: left;
	padding-bottom: 20px;
	padding-top: 10px;
}

.content {
	width:100%;
	float: left;
	background-color: #E7E7E7;
	box-shadow: 5px 5px 5px #888888;
	border-radius: 15px;
}

td .text {
	text-align: left;
}

#changePasswordForm {
	width: 375px;
}

#changePasswordForm label {
	font-size: 10pt;
	display: inline-block;
	width:175px;
	text-align: right;
}

#registrationForm {
	width: 350px;
}

#registrationForm label {
	font-size: 10pt;
	display: inline-block;
	width:150px;
	text-align: right;
}

#updateAccountDetails {
	width: 350px;
}

#updateAccountDetails label {
	font-size: 10pt;
	display: inline-block;
	width:150px;
	text-align: right;
}

.project {
	background-color:white;
	border-radius:5px;
	box-shadow:5px 5px 5px #888888;
	width:200px;
	margin:15px;
	padding-bottom:2px;
	float: left;
}

 .ui-state-highlight { 
 	height: 75px; 
 	line-height: 75px; 
 }
 
 .project-description {
 	background-color:black;
 	color:white;
 	border-radius:5px 5px 0px 0px;
 	padding-left:8px;
 	padding-right:8px;
 }
 
 .project-category {
 	padding-left:8px;
 	padding-right:8px;
 	border-bottom:1px dotted;
 }
 
 .project-dueDate {
 	padding-left:8px;
 	padding-right:8px;
 	border-bottom:1px dotted;
 }
 
 .project-footer {
	 padding-left:8px;
	 padding-right:8px;
	 border-radius:0px 0px 15px 15px;
	 border-top:1px dotted;
	 text-align:center;
 }
 
#navigation { 
	width:200px;
	height:100%; 
	float:right; 
	border: 1px solid black; 
	background:white;
}

.link { 
	margin: 0;
    border: 0;
    background: none;
    overflow: visible;
    color: blue;
    cursor: pointer; 
}

li {
	display: inline;
}
