@CHARSET "ISO-8859-1";

#regSuccess {
	color: blue;
	text-align: center;
	font-family: sans-serif;
}

.form div {
	margin-top: 1em;
}

#buttons {
	padding-top: 30px;
	padding-left: 50px;
	margin: 0 auto;
	width: 80%;
}

#buttons input {
    margin-left: 20px;
}

.error{
    display: none;
    margin-left: 10px;
}      
 
.error_show{
    color: red;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}
 
input.valid, textarea.valid{
    border: 2px solid green;
}

#error_text {
	color: red;
	padding-left: 20px;	
}